@import url('./reset.css');

:root {
  --body-bg-color: #171a22;
  --body-color: #fff;
  --box-bg-color: #272a33;
  --button-bg-color: #009d5d;
  --button-color: #fff;
  --input-bg-color: #272a33;
  --input-color: #fff;
  --saved-contacts-bg-color: #2196f3;
}

/* html */
body {
  background-color: var(--body-bg-color);
  color: var(--body-color);
}

/* class */
.box {
  align-items: center;
  display: grid;
  background-color: var(--box-bg-color);
  border-radius: 15px;
  height: 180px;
  padding: 20px;
  /* doesn't work properly */
  /* transition: border 0.25s ease-in-out; */
  width: 360px;
}

.box.recent {
  border: 1px solid #03935a;
}

.box:hover {
  border: 1px solid #b64546;
  /* box-shadow: 0px 0px 4px #b64346; */
}

.contacts {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 25px;
  
}

.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* height: 100vh; */
  place-content: center;
  place-items: center;
}

.input {
  font-size: 0px;
  height: 35px;
  justify-content: center;
  line-height: 35px;
  margin-top: 25px;
}

.message {
  height: 25px;
  margin-top: 25px;
  text-align: center;
}

.saved-contacts {
  background-color: var(--saved-contacts-bg-color);
  border-radius: 20px;
  inset: 30px 150px auto auto;
  padding: 5px 10px;
  position: fixed;
}

.title {
  font-size: 0px;
  justify-content: center;
  margin-top: 100px;
}

/* main */
main .title h1 {
  font-size: 24px;
  text-align: center;
}

main .input .input-field {
  background-color: var(--input-bg-color);
  color: var(--input-color);
  margin-right: 15px;
  padding-left: 15px;
  width: 400px;
}

main .input .input-field::placeholder {text-align: center;}

main .input .input-field:focus {
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
}

main .input .button {
  background-color: var(--button-bg-color);
  color: var(--button-color);
  letter-spacing: 2px;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  /* text-transform: uppercase; */
  width: 100px;
}

main .input .button:hover {
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
}

main .input .input-field, .input .button {
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  font-size: 16px;
}