@import url('./reset.css');

:root {
  --body-bg-color: #171a22;
  --body-color: #fff;
  --input-bg-color: #272a33;
  --button-bg-color: #009d5d;
}

/* class */
.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}